{% extends "layout.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">【营销中心团队】{{ this_year }}年累计销售额完成率及排名</div>
                    <table class="panel-body table table-bordered">
                        <thead>
                        <tr>
                            <th>业务团队</th>
                            <th>销售经理</th>
                            <th>1-{{ this_month }}月指标完成率</th>
                            <th>1-{{ this_month }}月销售额排名</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in queryset %}
                            <tr>
                                <th>{{ obj.name.team }}</th>
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.get_status_display }}</td>
                                <td>{{ obj.team }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">柱状图</div>
                    <div class="panel-body">
                        <div id="m2" style="width: 100%;height:300px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "/js/echarts.min.js" %}"></script>
    <script src="{% static "/js/highcharts.js" %}"></script>
    <script type="text/javascript">
        // 每 5 秒自动刷新一次函数
        setInterval(initBar, 5000);
        setInterval(flash, 20000);
        $(function () {
            initBar();
        })

        function flash() {
            location.reload();
        }

        /**
         * 初始化柱状图
         * */
        function initBar() {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('m2'));
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '{{ this_year }}年每月销量',
                    left: "center"
                },
                tooltip: {},
                legend: {
                    data: [],  // 后台获取
                    bottom: 0
                },
                xAxis: {
                    data: []  // 后台获取
                },
                yAxis: [
                    {
                        type: 'value',
                        name: '销量',
                        min: 0,
                        max: 2500,
                        interval: 500,
                        axisLabel: {
                            formatter: '{value} 吨'
                        }
                    },
                    {
                        type: 'value',
                        name: '销售额',
                        min: 0,
                        max: 1500,
                        axisLabel: {
                            formatter: '{value} 万元'
                        }
                    },
                ],
                series: [
                    {
                        name: '销量',
                        type: 'bar',
                        tooltip: {
                            valueFormatter: function (value) {
                                return value + ' 吨';
                            }
                        },
                        data: []
                    },
                    {
                        name: '业绩',
                        type: 'bar',
                        tooltip: {
                            valueFormatter: function (value) {
                                return value + ' ml';
                            }
                        },
                        data: []
                    },
                    {
                        name: '销售额',
                        type: 'line',
                        smooth: true,
                        z: -1,
                        areaStyle: {opacity: 0.5},  // 透明度（0 完全透明，1 不透明）
                        tooltip: {
                            valueFormatter: function (value) {
                                return value + ' 万元';
                            },
                        },
                        data: [1500, 1400, 800, 400,]
                    },
                    {
                        name: '销售额1',
                        type: 'line',
                        smooth: true,
                        tooltip: {
                            valueFormatter: function (value) {
                                return value + ' 万元';
                            },
                        },
                        data: [800, 1400, 300, 1300,]
                    },
                ]  // 后台获取
            };

            $.ajax({
                url: "/chart/bar",
                type: "get",
                dataType: "JSON",
                success: function (res) {
                    // 将后台返回的数据，更新到option中。
                    if (res.status) {
                        option.legend.data = res.data.legend
                        option.xAxis.data = res.data.x_axis
                        option.series[0].data = res.data.data1
                        option.series[1].data = res.data.data2

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    }
                }
            });
        }
    </script>
{% endblock %}
