{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="/">系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 销售部<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/salesteam/list"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 销售团队</a></li>
                        <li><a href="/salesperson/list"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 销售人员</a></li>
                        <li><a href="/salesindicator/list"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> 个人业绩指标</a></li>
                    </ul>
                </li>
                <li><a href="/salesproduct/list"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 客户产品信息</a></li>
                <li><a href="/salesdata/list"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 销售数据</a></li>
                <li><a href="/chart/list"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 可视化报表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/list">管理员列表</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.session.info.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">个人资料</a></li>
                        <li><a href="/">我的信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
