{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px;">
            <a class="btn btn-primary" href="/performance/add"> <!-- 跳转到新页面可用 target="_blank" -->
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新建信息
            </a>
            <a class="btn btn-success" id="btnSearchBar" style="float: right">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                搜 索
            </a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                {{ list_name }}
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>团队</th>
                    <th>级别</th>
                    <th>成员</th>
                    <th>月份</th>
                    <th>当月销售量指标(Kg)</th>
                    <th>当月销售额指标(￥)</th>
                    <th>当月利润指标(￥)</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.name.team }}</th>
                        <th>{{ obj.name.get_status_display }}</th>
                        <th>{{ obj.name }}</th>
                        <td>{{ obj.month|date:"Y年m月" }}</td>
                        <td>{{ obj.target_sales_volume }}</td>
                        <td>{{ obj.target_sales_revenue }}</td>
                        <td>{{ obj.target_sales_profit }}</td>
                        <td>
                            <a class="btn btn-xs btn-primary" href="/performance/{{ obj.id }}/edit">编辑</a>
                            <a class="btn btn-xs btn-danger" href="/performance/{{ obj.id }}/delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
    <!-- 搜索框弹窗 -->
    {{ search_html }}
{% endblock %}

{% block js %}
    {{ search_js }}
{% endblock %}
