{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px;">
            <a class="btn btn-primary" href="/performance/add"> <!-- 跳转到新页面可用 target="_blank" -->
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新建信息
            </a>
            <div style="margin-top: 10px;">
                <form method="get">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" name="search_team" class="form-control" placeholder="团队"
                                       value="{{ search_team }}">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="search_name" class="form-control" placeholder="成员姓名"
                                       value="{{ search_name }}">
                            </div>
                            <div class="col-md-3">
                                <input type="month" name="search_month" class="form-control" placeholder="月份"
                                       value="{{ search_month }}">
                            </div>
                            <div class="col-md-2">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                {{ list_name }}
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>团队</th>
                    <th>级别</th>
                    <th>成员</th>
                    <th>月份</th>
                    <th>当月目标量</th>
                    <th>当月完成量</th>
                    <th>当月销售额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.name.team }}</th>
                        <th>{{ obj.name.get_status_display }}</th>
                        <th>{{ obj.name }}</th>
                        <td>{{ obj.month }}</td>
                        <td>{{ obj.target }}</td>
                        <td>{{ obj.target_achievement }}</td>
                        <td>{{ obj.sales_revenue }}</td>
                        <td>
                            <a class="btn btn-xs btn-primary" href="/performance/{{ obj.id }}/edit">编辑</a>
                            <a class="btn btn-xs btn-danger" href="/performance/{{ obj.id }}/delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
{% endblock %}
