{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div style="margin-bottom: 10px;">
            <a class="btn btn-primary" href="/salesdata/add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加销售信息
            </a>
            <a class="btn btn-primary" href="/salesdata/addform">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                导入销售信息
            </a>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    批量上传
                </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" action="/salesdata/addform">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="upload_file">
                        </div>
                        <input type="submit" value="上传" class="btn btn-info btn-sm">
                    </form>
                </div>
            </div>
            <a class="btn btn-success" id="btnSearchBar" style="float: right">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                搜 索
            </a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                大信息列表
            </div>
            <div style="overflow-x: auto; white-space: nowrap;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>操作</th>
                        <th>日期</th>
                        <th>单据编号</th>
                        <th>购货公司</th>
                        <th>k3</th>
                        <th>产品名称</th>
                        <th>规格型号</th>
                        <th>实发数量(Kg)</th>
                        <th>部门</th>
                        <th>业务员</th>
                        <th>销售单价(元/Kg)</th>
                        <th>不含税单价(元/Kg)</th>
                        <th>实际购货公司</th>
                        <th>供货基地</th>
                        <th>内外销</th>
                        <th>产品分类</th>
                        <th>贸易类型</th>
                        <th>新老客户</th>
                        <th>产品线</th>
                        <th>主打产品</th>
                        <th>订单类别</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                        <tr>
                            <td>
                                <a class="btn btn-xs btn-primary" href="/salesdata/{{ obj.id }}/edit">编辑</a>
                                <a class="btn btn-xs btn-danger" href="/salesdata/{{ obj.id }}/delete">删除</a>
                            </td>
                            <td>{{ obj.date }}</td>
                            <td>{{ obj.order_number }}</td>
                            <td>{{ obj.client_company }}</td>
                            <th>{{ obj.k3 }}</th>
                            <td>{{ obj.product_name }}</td>
                            <td>{{ obj.product_specification }}</td>
                            <th>{{ obj.sales_volume }}</th>
                            <td>{{ obj.department }}</td>
                            <td>{{ obj.salesperson }}</td>
                            <td>{{ obj.gross_unit_price }}</td>
                            <td>{{ obj.net_unit_price }}</td>
                            <td>{{ obj.actual_client_company }}</td>
                            <td>{{ obj.supply_company }}</td>
                            <td>{{ obj.intra_group_or_external_sales }}</td>
                            <td>{{ obj.product_domain_groups }}</td>
                            <td>{{ obj.business_trade_categories }}</td>
                            <td>{{ obj.new_and_returning_customers }}</td>
                            <td>{{ obj.product_category }}</td>
                            <td>{{ obj.core_product }}</td>
                            <td>{{ obj.order_type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div>
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>

    <!-- 搜索框弹窗 -->
    {{ search_html }}
{% endblock %}

{% block js %}
    {{ search_js }}
{% endblock %}


