{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div style="margin-bottom: 10px;">
            <a class="btn btn-primary" href="/salesdata/add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加销售信息
            </a>
            <a class="btn btn-primary" id="btnUploadBar">
                <span class="glyphicon glyphicon-paste" aria-hidden="true"></span>
                导入销售信息
            </a>
            <a class="btn btn-success" id="btnSearchBar" style="float: right">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                搜 索
            </a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                大信息列表
            </div>
            <div style="overflow-x: auto; white-space: nowrap;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>操作</th>
                        <th>日期</th>
                        <th>单据编号</th>
                        <th>购货公司</th>
                        <th>k3</th>
                        <th>产品名称</th>
                        <th>规格型号</th>
                        <th>实发数量(Kg)</th>
                        <th>部门</th>
                        <th>业务员</th>
                        <th>销售单价(元/Kg)</th>
                        <th>不含税单价(元/Kg)</th>
                        <th>实际购货公司</th>
                        <th>供货基地</th>
                        <th>内外销</th>
                        <th>产品分类</th>
                        <th>贸易类型</th>
                        <th>新老客户</th>
                        <th>产品线</th>
                        <th>主打产品</th>
                        <th>订单类别</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                        <tr>
                            <td>
                                <a class="btn btn-xs btn-primary" href="/salesdata/{{ obj.id }}/edit">编辑</a>
                                <input uid="{{ obj.id }}" type="button" class="btn btn-xs btn-danger btn-delete" value="删除">  <!-- 自定义一个uid属性，用于传值给js。自定义一个btn-delete，用于js绑定 -->
                            </td>
                            <td>{{ obj.date }}</td>
                            <td>{{ obj.order_number }}</td>
                            <td>{{ obj.client_company }}</td>
                            <th>{{ obj.k3 }}</th>
                            <td>{{ obj.product_name }}</td>
                            <td>{{ obj.product_specification }}</td>
                            <th>{{ obj.sales_volume }}</th>
                            <td>{{ obj.department }}</td>
                            <td>{{ obj.salesperson }}</td>
                            <td>{{ obj.gross_unit_price }}</td>
                            <td>{{ obj.net_unit_price }}</td>
                            <td>{{ obj.actual_client_company }}</td>
                            <td>{{ obj.supply_company }}</td>
                            <td>{{ obj.intra_group_or_external_sales }}</td>
                            <td>{{ obj.product_domain_groups }}</td>
                            <td>{{ obj.business_trade_categories }}</td>
                            <td>{{ obj.new_and_returning_customers }}</td>
                            <td>{{ obj.product_category }}</td>
                            <td>{{ obj.core_product }}</td>
                            <td>{{ obj.order_type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div>
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>

    <!-- 搜索框弹窗 -->
    {{ search_html }}

    <!-- 批量上传 对话框 -->
    <div class="modal fade" id="myModal_uploadBar" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Excel批量上传</h4>
                </div>
                <form id="Upload_formAdd" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="upload_file">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                        <button id="btnUpload" class="btn btn-primary">上 传</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 删除提醒 对话框 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4>是否确定删除？</h4>
                <p style="margin-bottom: 10px">删除后，所有关联的数据都会被删除的。</p>
                <p style="text-align: right">
                    <button id="btnConfirmDelete" type="button" class="btn btn-danger">确 定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </p>
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block js %}
    {{ search_js }}
    <script type="text/javascript">
        $(function () {
            bindBtnUploadBarEvent();
            bindBtnSaveEvent();
        })

        // 弹出对话框
        function bindBtnUploadBarEvent() {
            $("#btnUploadBar").click(function () {
                // 点击该按钮，显示对话框
                $("#myModal_uploadBar").modal("show");
            });
        }

        // 批量上传的对话框的保存按钮
        function bindBtnSaveEvent() {
            $("#btnUpload").click(function () {
                var formData = new FormData($("#Upload_formAdd")[0]); // 获取表单数据
                $.ajax({
                    url: "/salesdata/addform",
                    type: "post",
                    data: formData,
                    processData: false,  // 不处理数据，让 FormData 以二进制形式传输
                    contentType: false,  // 让浏览器自动设置 Content-Type
                    success: function() {
                        location.reload();// 用JS实现页面的刷新（推荐，简单粗暴）
                    }
                });
            });
        }

    </script>

    <script type="text/javascript">
        var DELETE_ID;

        $(function () {
            bindBtnDeleteEvent();
            bindBtnConfirmDeleteEvent();
        })

        // 弹出删除订单提示的对话框
        function bindBtnDeleteEvent() {
            $(".btn-delete").click(function () {
                // 显示删除对话框
                $("#deleteModal").modal("show");
                // 获取当前行的ID并赋值给全局变量。
                DELETE_ID = $(this).attr("uid");

            });
        }

        // 删除订单提示的对话框的确定按钮
        function bindBtnConfirmDeleteEvent() {
            $("#btnConfirmDelete").click(function () {
                // 点击确认删除按钮，将全局变量中设置的那个要删除ID发送到后台。
                $.ajax({
                    url: "/salesdata/delete",  // /order/delete?uid=123
                    type: "GET",
                    data: {
                        uid: DELETE_ID,
                    },
                    dataType: "JSON",
                    success: function (res) {  // {"status": False, "error": form.errors}
                        if (res.status) {
                            // $("#deleteModal").modal("hide");  // 隐藏删除提示框
                            // $("tr[uid='" + DELETE_ID + "']").remove();  // 在页面上将当前一行数据删除（js，在前端实现）
                            // DELETE_ID = 0;  // 置空变量
                            location.reload();// 用JS实现页面的刷新（推荐，简单粗暴）
                        } else {
                            alert(res.error);  // 删除失败
                        }
                    }
                });
            });
        }
    </script>
{% endblock %}


