{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增团队
            </div>
            <div class="panel-body">
                <form method="post" novalidate><!-- novalidate取消网页端验证，交给Django处理 -->
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color: red">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">提 交</button>
                            <a class="btn btn-default" href="/salesteam/list">返 回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
