{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div style="margin-bottom: 10px;">
            <a class="btn btn-primary" id="btnAddBar">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加数据
            </a>
            <a class="btn btn-primary" id="btnUploadBar">
                <span class="glyphicon glyphicon-paste" aria-hidden="true"></span>
                导入数据
            </a>
            <a class="btn btn-danger" id="btn-delete-all">
                <span class="glyphicon glyphicon-paste" aria-hidden="true"></span>
                删除所有数据
            </a>
            <a class="btn btn-success" id="btnSearchBar" style="float: right">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                搜 索
            </a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                销售团队
            </div>
            <div style="overflow-x: auto; white-space: nowrap;">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>销售团队名称</th>
                        <th>业务区域</th>
                        <th>业务板块描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                        <tr uid="{{ obj.id }}">
                            <th>{{ obj.id }}</th>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.business_area }}</td>
                            <td>{{ obj.business_segment }}</td>
                            <td>
                                <input uid="{{ obj.id }}" type="button" class="btn btn-xs btn-primary btn-edit" value="编辑">
                                <input uid="{{ obj.id }}" type="button" class="btn btn-xs btn-danger btn-delete" value="删除">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div>
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>

    {{ search_Modal }}
    {{ add_Modal }}
    {{ edit_Modal }}
    {{ delete_Modal }}
    {{ delete_all_Modal }}
    {{ upload_Modal }}

{% endblock %}

{% block js %}
    {{ search_js }}
    {{ add_js }}
    {{ edit_js }}
    {{ delete_js }}
    {{ delete_all_js }}
    {{ upload_js }}

{% endblock %}
