{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px;">
            <a class="btn btn-primary" href="/salesteam/add"> <!-- 跳转到新页面可用 target="_blank" -->
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新建团队
            </a>
            <a class="btn btn-success" id="btnSearchBar" style="float: right">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                搜 索
            </a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                {{ list_name }}
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>销售团队名称</th>
                    <th>业务区域</th>
                    <th>业务板块描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.business_area }}</td>
                        <td>{{ obj.business_segment }}</td>
                        <td>
                            <a class="btn btn-xs btn-primary" href="/salesteam/{{ obj.id }}/edit">编辑</a>
                            <a class="btn btn-xs btn-danger" href="/salesteam/{{ obj.id }}/delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
    <!-- 搜索框弹窗 -->
    {{ search_html }}
{% endblock %}

{% block js %}
    {{ search_js }}
{% endblock %}
